127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for node in cluster_nodes %}
{{ node.ip }} {{ node.hostname }}
{% endfor %}
{{ virtual_ip }} {{ dns_for_virtual_ip }}
